<manifest
  xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.abilia.memoplanner">

  <application>
    <activity 
      android:name=".MainActivity"
      android:launchMode="singleInstance"
      android:lockTaskMode="if_whitelisted">
      <intent-filter>
        <category android:name="android.intent.category.HOME"/>
        <category android:name="android.intent.category.DEFAULT"/>
      </intent-filter>
    </activity>
  </application>

</manifest>
