<manifest
  xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.abilia.memoplanner">

  <application>
    <activity 
      android:name=".MainActivity"
      android:launchMode="singleInstance"
      android:lockTaskMode="if_whitelisted">
      <intent-filter>
        <category android:name="android.intent.category.HOME"/>
        <category android:name="android.intent.category.DEFAULT"/>
      </intent-filter>
    </activity>

    <service 
      android:name=".LockService"
      android:exported="true" />

    <receiver 
      android:name=".DeviceAdminReceiver"
      android:description="@string/app_name"
      android:label="@string/app_name"
      android:permission="android.permission.BIND_DEVICE_ADMIN">
      <meta-data
        android:name="android.app.device_admin"
        android:resource="@xml/device_admin_receiver" />
      <intent-filter>
        <action android:name="android.intent.action.DEVICE_ADMIN_ENABLED"/>
        <action android:name="android.intent.action.PROFILE_PROVISIONING_COMPLETE"/>
        <action android:name="android.intent.action.BOOT_COMPLETED"/>
      </intent-filter>
    </receiver>
  </application>

</manifest>
