<manifest
  xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
  package="com.abilia.memoplanner">

  <uses-permission android:name="android.permission.WRITE_SETTINGS" tools:ignore="ProtectedPermissions" />
  <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" tools:node="remove"/>

    <!-- manageSpaceActivity changes 'Clear data' in Android Settings to 'Manage space'. .FlutterActivity disables button. -->
  <application android:manageSpaceActivity=".FlutterActivity">
    <activity 
      android:name=".MainActivity"
      android:launchMode="singleInstance"
      android:lockTaskMode="if_whitelisted">
      <intent-filter>
        <category android:name="android.intent.category.DEFAULT"/>
      </intent-filter>
    </activity>
  </application>

</manifest>
