<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>340774293730-q6b73loqrdbc42aif27gacsd5ib4640q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.340774293730-q6b73loqrdbc42aif27gacsd5ib4640q</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>340774293730-o8jjlvkp863d10vprf0hvmi202ctino4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBhCZcbDzewnT2XpoiJELaYa9jT03LJn08</string>
	<key>GCM_SENDER_ID</key>
	<string>340774293730</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.abilia.memoplannergo</string>
	<key>PROJECT_ID</key>
	<string>whalewhale2013</string>
	<key>STORAGE_BUCKET</key>
	<string>whalewhale2013.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:340774293730:ios:b746b675d6032844198ebb</string>
	<key>DATABASE_URL</key>
	<string>https://whalewhale2013.firebaseio.com</string>
</dict>
</plist>