<manifest
  xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.abilia.memoplanner">
  <application>
    <activity
      android:name=".MainActivity" 
      android:launchMode="singleTop">
    </activity>
    <activity
        android:name=".AlarmActivity"
        android:exported="true"
        android:launchMode="singleTop"
        android:theme="@style/LaunchTheme"
        android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
        android:hardwareAccelerated="true"
        android:screenOrientation="portrait"
        android:windowSoftInputMode="adjustResize"
        android:showWhenLocked="true"
        android:turnScreenOn="true"
        android:excludeFromRecents="true">
        <meta-data
          android:name="io.flutter.embedding.android.NormalTheme"
          android:resource="@style/NormalTheme"
          />
        <intent-filter>
          <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>
  </application>
</manifest>
